html {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(76, 99, 190)
}


body {
    background-color: rgb(252, 225, 225);

}

main {}

div {}

section {
    border: solid;
    border-color: rgb(226, 179, 214);
    border-width: 2px;
    background-color: white;
    margin-left: 150px;
    margin-right: 150px;
    padding: 15px;
}

.author-line {
    color: rgb(169, 169, 169);
    font-size: smaller;
    margin-top: 0px;
}

footer {
    background-color: rgba(247, 230, 133, 0.53);
    padding: 15px
}

.stars {
    margin-bottom: 0px;
}

input {
    display: block;
    margin-left: 20px;


}

textarea {
    display: block;
    margin-left: 20px;

}